<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand" href="#"><b class="l-mn">Medium</b> | Data Science</a>
  	

 	<div  class="collapse navbar-collapse r-mn">
    
	    <form class="form-inline my-2 my-lg-0">
	    	<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><small>Become a member</small></a>
	    	<a class="nav-link" href="#" tabindex="-1"><small style="color:green;">Sign in</small></a>
	     	<button style="float:right;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
	    </form>
	</div>
</nav>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<!-- ***********start col div *************************-->
		<div class="row">
			<div class="container col-lg-7">
				<br>
				<div class="row">
					<h1>
						Marketing Channel Attribution with <br>
						Markov Chains in Python
					</h1>
				</div>
				<br>
				<div class="row">
					<img class="float-left pp" src="{% static '/imgs/mh.png' %}" alt="Image No Deya">
					<small class="lr-mg5">
						Morten Hegewald<br>
						Mar 11 . 11 min read<b class="op8"> &#9733;</b>
					</small>
					<div style="height:35px;padding:1%;" class="btn btn-outline-dark ct-al">Follow</div>
				</div>
				<br>					
			</div>
		</div>
		
		<br>

		<div class="row">
			<div class="col-md-10 container">
				<img id="hero_img"  src="{% static '/imgs/hero.jpg' %}" alt="Image No Deya">	
			</div>			
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				<p>
					<h5>
						Any business that’s actively running marketing campaigns should be interested in identifying what marketing channels drive the actual conversions. It is no secret that the return on investment (ROI) on your marketing efforts is a crucial KPI.
					</h5>
				</p>

				<br>
				<p>
					<h5>
						In this article we’re going to cover:
					</h5>
				</p>

				<br>
				<p>
					<h5>
						<ol>
							<li>Why is channel attribution important?</li>
							<br>
							<li>The 3 standard attribution models</li>
							<br>
							<li>An advanced attribution model: Markov Chains</li>
							<br>
							<li>How to build the 4 attribution models in Python</li>
						</ol>
					</h5>
				</p>
				<br>
				

			</div>			
		</div>

		<div class="col-lg-12">
			<img style="width:100%;" src="{% static '/imgs/dots.png' %}" alt="Image No Deya">
		</div>
		<br>

		<div class="row">
			<div class="col-md-6 container">
				
				<h4>
					<b>Why is attribution important?</b>
				</h4>

				<p>
					<h5>
						As the array of platforms on which businesses can market to their customers is increasing, and most customers are engaging with your content on multiple channels, it’s now more important than ever to decide how you’re going to attribute conversions to channels. A 2017 study showed that 92% of consumers visiting a retailer’s website for the first time aren’t there to buy (link).
					</h5>
				</p>

				<br>
				<p>
					<h5>
						To illustrate the importance of attribution, let’s consider a simple example of a user journey leading to conversion. In this example, our user is named John.
					</h5>
				</p>
				<br>
			</div>			
		</div>	

		<div class="col-lg-10">
			<div class="row">
				<div class="col-md-6 lr-mg5">
					<img id="d1_img" src="{% static '/imgs/hph.png' %}" alt="Image No Deya">	
				</div>
				<div class="col-md-4">
					<h4>DAY 1:</h4>
					<br>
					<p>
						<h5>
							John‘s awareness of your product is sparked by a YouTube ad and subsequently visits your website to browse your product catalog.
						</h5>

						<br>

						<h5>
							After a bit of browsing, John’s awareness of your product is sparked, yet he does not have the intention of completing a purchase.
						</h5>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 container">
				<h4>DAY 2:</h4>
				<p>
					<h5>
						The next day, when John is scrolling through his Facebook feed he receives another ad for your product, which pushes him to return to your website and this time John completes the purchasing process
					</h5>

					<br>

					<h5>
						In this case, when you look to calculate your ROI by marketing channel, how would you attribute the $ generated by John towards a marketing channel?
					</h5>

					<br>

					<h5>
						Traditionally, channel attribution has been tackled by a handful of simple but powerful approaches such as First Touch, Last Touch, and Linear.
					</h5>
				</p>
				<br>
			</div>			
		</div>

		<div class="col-lg-12">
			<img style="width:100%;" src="{% static '/imgs/dots.png' %}" alt="Image No Deya">
		</div>
		
		<div class="row">
			<div class="container col-lg-6">
				<br>
				<h3>
					<b>Standard Attribution Models</b>
				</h3>	
				<br>		
			</div>
			<div class="col-lg-12 container ct-al">
				<img id="atts_img" src="{% static '/imgs/atts.png' %}" alt="Image No Deya">
				<br>
				<small class="op8">3 standard attribution models</small>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 container">
				<br><br>
				<h4><b>Last Touch Attribution</b></h4>
				<p>
					<h5>
						As the name suggests, Last Touch is the attribution approach where any revenue generated is attributed to the marketing channel that a user last engaged with.
					</h5>

					<br>

					<h5>
						While this approach has its advantage in its simplicity, you run the risk of oversimplifying your attribution, as the last touch isn’t necessarily the marketing activity that generates the purchase.
					</h5>

					<br>

					<h5>
						In the above example of John, the last touch channel (Facebook) likely didn’t create 100% of the intent to purchase. The awareness stems from the initial spark of watching the YouTube ad.
					</h5>

					<br>

					<h5>
						Traditionally, channel attribution has been tackled by a handful of simple but powerful approaches such as First Touch, Last Touch, and Linear.
					</h5>
				</p>
				<br>

				<br>
				<h4><b>First Touch Attribution</b></h4>
				<p>
					<h5>
						The revenue generated by the purchase is attributed to the first marketing channel the user engaged with, on the journey towards the purchase.
					</h5>

					<br>

					<h5>
						Just as with the Last Touch approach, First Touch Attribution has its advantages in simplicity, but again you risk oversimplifying your attribution approach.
					</h5>

				</p>
				<br>

				<h4><b>Linear Attribution</b></h4>
				<p>
					<h5>
						In this approach, the attribution is divided evenly among all the marketing channels touched by the user on the journey leading to a purchase.
					</h5>

					<br>

					<h5>
						This approach is better suited to capture the trend of the multi-channel touch behavior we’re seeing in consumer behavior. However, it does not distinguish between the different channels, and since not all consumer engagements with marketing efforts are equal this is a clear drawback of this model.
					</h5>

					<br>

					<h5>
						<i>
							Other standard attribution approaches with mentioning are Time Decay Attribution and Position Based Attribution.
						</i>
					</h5>

				</p>
				<br>
			</div>			
		</div>

		<div class="col-lg-12">
			<img style="width:100%;" src="{% static '/imgs/dots.png' %}" alt="Image No Deya">
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				<h4><b>An advanced attribution model: Markov Chains</b></h4>
				<p>
					<h5>
						With the 3 standard attribution approaches above, we have easy-to-implement models to identify the ROI of our marketing channels.
						<br><br>
						However, the caveat with those 3 approaches is that they are oversimplified. This may lead to overconfidence of the results driven by the marketing channels. This oversight can be detrimental — misguiding future business / marketing decisions.
						<br><br>
						To overcome this oversight, we may consider employing a more advanced approach: Markov chains.
						<br><br>
						If you have taken a statistics course, you may have come across this theory. Markov chains are named after the Russian mathematician Andrey Markov, and describe a sequence of possible events in which the probability of each event depends only on the state attained in the previous event.
						<br><br>
						Markov chains, in the context of channel attribution, gives us a framework to model user journeys and how each channel factors into the users traveling from one channel to another to eventually purchase (or not).
						<br><br>
						We won’t go too deep into Markov chains theory in this article. (Setosa.io has a good read if you’re interested in knowing more about the math/statistics that take place behind the scenes.)
					</h5>
				</p>
				<br>
			</div>			
		</div>

		<div class="col-lg-10 container">
			<div class="row">
				<div class="col-md-6 ct-al">
					<img style="width:60%;height:30vh;" src="{% static '/imgs/arr.png' %}" alt="Image No Deya">
					<br>
					<small>Example of a simple Markov chain with 2 events A and E</small>	
				</div>
				<div class="col-sm-4">
					<p>
						<h5>
							The core concepts of Markov<br>
							chains is that we can use the <br>
							generated data to identify the <br>
							probabilities of moving from<br>
							one event to another in our <br>
							network of potential marketing<br>
							channel events and conversion events.
						</h5>

						<br><br>

						<h5>
							In the next section, we’ll go 
						</h5>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 container">
				<p>
					<h5>
						through the Python code for implementing any of these attribution frameworks.
					</h5>
				</p>
				<br>
			</div>			
		</div>

		<div class="col-lg-12">
			<img style="width:100%;" src="{% static '/imgs/dots.png' %}" alt="Image No Deya">
		</div>

		<br>
		<div class="row">
			<div class="col-md-6 container">
				<h4><b>How to build the 4 attribution models in Python</b></h4>
				<p>
					<h5>
						<i>
							<b>
							If you wish to follow along, the dataset we’ll be using for this example can be downloaded here.
							</b>
						</i>
						<br><br>
						Our dataset is structured by having engagement activities as columns and the rows being the channels that were engaged with, in chronological order. In this case, each marketing channel is assigned a fixed numbered value which is then displayed in a column n if the n’th engagement from a given user was with that marketing channel. Channel 21 is a conversion and our dataset only contains records of converting user journeys.						
					</h5>
				</p>
				<br>
			</div>			
		</div>

		<br>

		<div class="col-lg-9 container ct-al">
			<img class="img" src="{% static '/imgs/ls.png' %}" alt="Image No Deya">
			<br><br>
			<small class="op8">Sample of our dataset</small>
		</div>

		<br>
		<div class="row">
			<div class="col-md-6 container">
				<h4>
					The first thing we want to do is to import the necessary libraries
				</h4>

				<br>

				<div class="well g-bg container">
					<br>
					<p>
						import pandas as pd<br>
						import seaborn as sns<br>
						import matplotlib.pyplot as plt<br>
						import subprocess<br>
					</p>
					<br>
				</div>

				<br>

				<h4>
					Next, let’s load in our dataset and clean up the data points
				</h4>

				<br>

				<div class="well g-bg container">
					<br>
					<p>
						# Load in our data<br>
						df = pd.read_csv('Channel_attribution.csv')<br><br>
						# Grab list of columns to iterate through<br>
						cols = df.columns<br><br>
						# Iterate through columns to change all ints to str and remove any <br>
						trailing '.0'<br>
						for col in cols:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;df[col] = df[col].astype(str)<br>
						&nbsp;&nbsp;&nbsp;&nbsp;df[col] = df[col].map(lambda x: str(x)[:-2] if '.' in x else <br>
						str(x))<br>
					</p>
					<br>
				</div>

				<br>

				<h4>
					The Markov chain framework wants the user journeys in a single variable and on the form Channel 1 > Channel 2 > Channel 3 > …, so the next loop creates exactly that
				</h4>

				<br>

				<div class="well g-bg container">
					<br>
					<p>
						# Create a total path variable<br>
						df['Path'] = ''<br>
						for i in df.index:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;#df.at[i, 'Path'] = 'Start'<br>
						&nbsp;&nbsp;&nbsp;&nbsp;for x in cols:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;df.at[i, 'Path'] = df.at[i, 'Path'] + df.at[i, x] + ' > '<br>
					</p>
					<br>
				</div>

				<br>

				<h4>
					Since channel 21 in our dataset is a conversion event, we will separate that channel from the path and create a separate conversion variable holding the number of conversions happening (still only 1 in our user journey level data)
				</h4>

				<br>

				<div class="well g-bg container">
					<br>
					<p>
						# Split path on conversion (channel 21)<br>
						df['Path'] = df['Path'].map(lambda x: x.split(' > 21')[0])<br><br>
						# Create conversion value we can sum to get total conversions for<br>
						each path<br>
						df['Conversion'] = 1<br>
					</p>
					<br>
				</div>

				<br><br><br>

				<h4>
					We’re now almost done with the initial data manipulation work. Our data still contains all the original columns, so we grab the subset of columns that we need going forward. Since some users may have taken the same journey we will group our data by unique user journeys and our conversion variable will hold the number of conversions for each respective journey.
				</h4>

				<br><br><br>

				<div class="well g-bg container">
					<p>
						# Select relevant columns
						df = df[['Path', 'Conversion']]<br>
						# Sum conversions by Path
						df = df.groupby('Path').sum().reset_index()<br>
						# Write DF to CSV to be executed in R
						df.to_csv('Paths.csv', index=False)
					</p>
					<br>
				</div>

				<br>
				<p>
					<h5>
						The last line in the above piece of code will output our data to a CSV file now that we’re done with the data manipulations. It might be handy to have this data available for transparency purposes, and, in our case, we will also use this CSV file to run the Markov chain attribution approach.					
					</h5>
				</p>

				<br>

				<p>
					<h5>
						There are a few ways to do this. Since Python doesn’t at this time have a library put together for this, one way would be to build out the actual Markov chains/networks in Python yourself. While this would allow you to have a complete overview of your model it would also be the most time-consuming approach. To be more efficient, we’ll make use of the ChannelAttribution R library which has the theory behind Markov chains centered in a single application.					
					</h5>
				</p>

				<br>

				<p>
					<h5>
						We will use the standard Python library subprocess to run the following piece of R code that calculates our Markov network for us.				
					</h5>
				</p>

				<br><br>

				<div class="well g-bg container">
					<br>
					<p>
						# Read in the necessary libraries<br>
						if(!require(ChannelAttribution)){<br>
							install.packages("ChannelAttribution")<br>
							library(ChannelAttribution)<br>
						}<br><br>
						# Set Working Directory<br>
						setwd <- setwd('C:/Users/Morten/PycharmProjects/Markov Chain <br>
						Attribution Modeling')<br><br>
						# Read in our CSV file outputted by the python script<br>
						df <- read.csv('Paths.csv')<br><br>
						# Select only the necessary columns<br>
						df <- df[c(1,2)]<br><br>
						# Run the Markov Model function<br>
						M <- markov_model(df, 'Path', var_value = 'Conversion', var_conv = <br>
						'Conversion', sep = '>', order=1, out_more = TRUE)<br><br>
						# Output the model output as a csv file, to be read back into Python<br>
						write.csv(M$result, file = "Markov - Output - Conversion values.csv",<br>
						row.names=FALSE)<br><br>
						# Output the transition matrix as well, for visualization purposes<br>
						write.csv(M$transition_matrix, file = "Markov - Output - Transition <br>
						matrix.csv", row.names=FALSE)<br>
					</p>
					<br>
				</div>

				<br>

				<p>
					<h5>
						If you want to get around having to create a separate R script to run the Markov calculations, then a Python library that you could use is rpy2. rpy2 allows you to import R libaries and call them directly in Python. This approach, however, did not prove very stable during my process, and therefore I opted for the separate R script approach.			
					</h5>
				</p>

				<br>

				<p>
					<h5>
						Channel Attribution using Markov Chains can be seen in the below chart. This chart should tell you that channel 20 is driving a large portion of conversions while channels 18 and 19 are attributed very low total conversion values.			
					</h5>
				</p>

				<br>
			</div>			
		</div>

		<div class="col-lg-10 container ct-al">
			<img style="width:100%;" src="{% static '/imgs/bars.png' %}" alt="Image No Deya">
			<br><br>
			<small class="op8">Channel contributions for Markov chain approach</small>
		</div>

		<div class="row">
			<div class="col-md-6 container">
				<br>
				<p>
					<h5>
						While this output may be what you’re looking for there’s a great deal of value in the information around what the outputs of the traditional approaches look like compared to our Markov chains approach.
					</h5>
				</p>

				<br>

				<p>
					<h5>
						To calculate attributions for Last Touch, First Touch and Linear, we run the following piece of code
					</h5>
				</p>

				<br>

				<div class="well g-bg container">
					<br>
					<p>
						# First Touch Attribution<br>
						df['First Touch'] = df['Path'].map(lambda x: x.split(' > ')[0])<br>
						df_ft = pd.DataFrame()<br>
						df_ft['Channel'] = df['First Touch']<br>
						df_ft['Attribution'] = 'First Touch'<br>
						df_ft['Conversion'] = 1<br>
						df_ft = df_ft.groupby(['Channel', 'Attribution']).sum().reset_index()<br><br>

						# Last Touch Attribution<br>
						df['Last Touch'] = df['Path'].map(lambda x: x.split(' > ')[-1])<br>
						df_lt = pd.DataFrame()<br>
						df_lt['Channel'] = df['Last Touch']<br>
						df_lt['Attribution'] = 'Last Touch'<br>
						df_lt['Conversion'] = 1<br>
						df_lt = df_lt.groupby(['Channel', 'Attribution']).sum().reset_index()<br><br>

						# Linear Attribution<br>
						channel = []<br>
						conversion = []<br>
						for i in df.index:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;for j in df.at[i, 'Path'].split(' > '):<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;channel.append(j)<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conversion.append(1/len(df.at[i, 'Path'].split(' > ')))<br>
						lin_att_df = pd.DataFrame()<br>
						lin_att_df['Channel'] = channel<br>
						lin_att_df['Attribution'] = 'Linear<br>
						lin_att_df['Conversion'] = conversion<br>
						lin_att_df = lin_att_df.groupby(['Channel', 'Attribution']).sum().reset_index()<br>
					</p>
					<br>
				</div>
			</div>			
		</div>

		<br><br>

		<div class="row">
			<div class="col-md-6 container">
				<h4>Let’s merge all our 4 approaches together and evaluate the differences in outputs.</h4>
				<br>
			</div>			
		</div>

		<br>

		<div class="row">
			<div class="well g-bg col-md-6 container">
				<br>
				<p>
					# Concatenate the four data frames to a single data frame<br>
					df_total_attr = pd.concat([df_ft, df_lt, lin_att_df, markov])<br>
					df_total_attr['Channel'] = df_total_attr['Channel'].astype(int)<br>
					df_total_attr.sort_values(by='Channel', ascending=True, inplace=True)<br><br>

					# Visualize the attributions<br>
					sns.set_style("whitegrid")<br>
					plt.rc('legend', fontsize=15)<br>
					fig, ax = plt.subplots(figsize=(16, 10))<br>
					sns.barplot(x='Channel', y='Conversion', hue='Attribution', data=df_total_attr)<br><
					plt.show()<br>
				</p>
				<br>
			</div>			
		</div>

		<br><br>

		<div class="col-lg-10 container ct-al">
			<img style="width:100%;" src="{% static '/imgs/baz1.png' %}" alt="Image No Deya">
			<br><br>
			<small class="op8">Channel contributions across all attribution approaches</small>
		</div>

		<br><br>

		<div class="row">
			<div class="col-md-6 container">
				<h4>From looking at the above chart we can quickly conclude that most user journeys start with Channel 10 and end with Channel 20, while no user journeys start at Channel 20.</h4>
				<br>
			</div>

		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				<p>
					<h4>
						To get an idea of how the different channels affect the potential user journeys we can look at the total transition matrix, which can be visualized in a heatmap
					</h4>
				</p>
				<br>
			</div>			
		</div>

		<br>

		<div class="col-lg-10 container ct-al">
			<img style="width:100%;" src="{% static '/imgs/fx.png' %}" alt="Image No Deya">
			<br><br>
			<small class="op8">Transition Probability Heatmap for Markov chain approach</small>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				<p>
					<h4>
						By running the following piece of code
					</h4>
				</p>
				<br>
			</div>			
		</div>

		<br>

		<div class="row">
			<div class="well g-bg col-md-6 container">
				<br>
				<p>
					#<i> Read in transition matrix CSV</i><br>
					trans_prob = pd.read_csv('Markov - Output - Transition matrix.csv')
					<br><br>

					#<i>Convert data to floats</i><br>
					trans_prob ['transition_probability'] = trans_prob ['transition_probability'].astype(float)
					<br><br>

					# <i>Convert start and conversion event to numeric values so we can sort and iterate through
					</i><br>
					trans_prob .replace('(start)', '0', inplace=True)<br>
					trans_prob .replace('(conversion)', '21', inplace=True)<br>
					<br><br>

					# Get unique origin channels<br>
					channel_from_unique = trans_prob ['channel_from'].unique().tolist()<br>
					channel_from_unique.sort(key=float)<br><br>

					# Create new matrix with origin and destination channels as columns<br>
					and index<br>
					trans_matrix = pd.DataFrame(columns=channel_to_unique, <br>
					index=channel_from_unique)<br><br>

					# Assign the probabilities to the corresponding cells in our <br>
					transition matrix<br>
					for f in channel_from_unique:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;for t in channel_to_unique:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x = trans_prob [(trans_prob ['channel_from'] == f) & <br>
					(trans_prob ['channel_to'] == t)]<br>
					&nbsp;&nbsp;&nbsp;&nbsp;prob = x['transition_probability'].values<br>
					&nbsp;&nbsp;&nbsp;&nbsp;if prob.size > 0:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trans_matrix[t][f] = prob[0].values<br>
					&nbsp;&nbsp;&nbsp;&nbsp;else:<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trans_matrix[t][f] = 0<br><br>

					# Convert all probabilities to floats<br>
					trans_matrix = trans_matrix.apply(pd.to_numeric)<br><br>

					# Rename our start and conversion events<br>
					trans_matrix.rename(index={'0': 'Start'}, inplace=True)<br>
					trans_matrix.rename(columns={'21': 'Conversion'}, inplace=True)s<br><br>

					# Visualize this transition matrix in a heatmap<br>
					sns.set_style("whitegrid")<br>
					fig, ax = plt.subplots(figsize=(22, 12))<br>
					sns.heatmap(trans_matrix, cmap="RdBu_r")<br>
					plt.show()<br>
				</p>
				<br>
			</div>			
		</div>

		<div class="col-lg-12">
			<img style="width:100%;" src="{% static '/imgs/dots.png' %}" alt="Image No Deya">
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				<h4><b>Conclusion</b></h4>
				<p>
					<h5>
						Different marketing channel attribution approaches will fit different businesses. In this article, we’ve outlined 4 possible ways to evaluate the effectiveness of your marketing spend. We’ve explored 3 approaches that are fixed in the sense that they are not dependent on the structure of your data, which may lead to overconfidence. On the other hand, a Markov chain approach will look to model channel attribution by accounting for how your user journey data is structured; though this approach is more complex.
					</h5>

					<br>

					<h5>
						Analyzing the output of the Markov chain model will give you a “snapshot” of marketing channel effectiveness, at a specific point in time. You might be able to gain extra insights by looking at the model output for data just before and after a new marketing campaign launch, giving you essential information on how the campaign affected the performance of each channel.
					</h5>

					<br>

					<h5>
						By adding even more granularity and running daily attribution models, you could evaluate the relationship between PPC or marketing dollar spent and channel contribution using correlation models.
					</h5>

					<br>

					<h5>
						While adding more complexity to the approach presented in this article could increase the value of the model outputs, the real business value will come from being able to interpret these quantitative model results and combine these with domain knowledge on your business and the strategic business initiatives that have produced your data.
					</h5>

					<br>

					<h5>
						Combining these model results with the knowledge of your business will allow you to best incorporate the model findings into future initiatives.
					</h5>

					<br>

					<h5>
						<i>
							Marketing channel attribution can be a complex task and with consumers being reached by more marketing than ever. As technology advances and more channels become available to marketers, it becomes more important to identify precisely the channels that are driving the most ROI.
						</i>
					</h5>

					<br>

					<h5>
						<i>
							How do you dig out the valuable attribution information from your data?
						</i>
					</h5>

					<br>


				</p>
			</div>			
		</div>

		<div class="row">
			<div class="col-md-6 container">
				<button class="btn btn-sm btn-default">
					Data Science
				</button>
			</div>	

			<!-- <div class="col-md-6 container">
				256 claps
			</div>	 -->		
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 container">
				256 claps
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 container">
				<hr>
					
					<br>
					<img class="float-left" style="width:10%;border-radius:50%;" src="{% static '/imgs/mh.png' %}" alt="Image No Deya">
					<big class="lr-mg5">
						<small class="op8">WRITTEN BY</small><br>
						<b class="lr-mg5">Morten Hegewald</b>
					</big>
					<div style="height:35px;padding:1%;" class="btn btn-outline-dark float-right">Follow</div>
					<br><br>
				<hr>

				<div style="height:8vh;padding:2%;pointer-events: none;margin-bottom:5%;" class="btn btn-outline-success btn-md form-control ct-al">
					<small>See responses (3)</small>
				</div>
			</div>
		</div>

		<br>

		<div class="row g-bg">
			<div class="container">
				<div class="col-md-12">
					<br>
					<div class="row">
						<h5><b>More From Medium</b></h5>

						<hr class="full">
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="row">
								<br><br>
								<small>Related reads</small>
								<br>
							</div>
							
							<br>

							<div class="row op9">
								<img style="width:95%;" src="{% static '/imgs/mkt.png' %}" alt="Image No Deya">
								<br>
							</div>

							<br>

							<div class="row">
								<h5>
									<p>
										
										Marketing Mix Modelling with <br>
										Bayesian Regression
										
									</p>
								</h5>
							</div>

							<div class="row">
								<img class="float-left" style="width:10%;border-radius:50%;" src="{% static '/imgs/mh.png' %}" alt="Image No Deya">
								<small class="lr-mg5">
									Tristan Ganry in Toward...<br>
									Sep 29, 2018 · 5 min read <b class="op8"> &#9733;</b>
								</small>
								<img style="width:5%;" src="{% static '/imgs/clapping.svg' %}" alt="Image No Deya">
							</div>
							<br>
						</div>

						<div class="col-sm-4">
							<div class="row">
								<br><br>
								<small>Related reads</small>
								<br>
							</div>
							
							<br>

							<div class="row op9">
								<img style="width:95%;" src="{% static '/imgs/pf.png' %}" alt="Image No Deya">
								<br>
							</div>

							<br>

							<div class="row">
								<h5>
									<p>
										Professor turned Data Scientist: <br>
										Why Dr. Guido Maretto left <br>
										academia for the startup life
									</p>
								</h5>
							</div>

							<div class="row">
								<img class="float-left" style="width:10%;border-radius:50%;" src="{% static '/imgs/mh.png' %}" alt="Image No Deya">
								<small class="lr-mg5">
									Tristan Ganry in Toward...<br>
									Sep 29, 2018 · 5 min read <b class="op8"> &#9733;</b>
								</small>
								<img style="width:5%;" src="{% static '/imgs/clapping.svg' %}" alt="Image No Deya">
							</div>
							<br>
						</div>

						<div class="col-sm-4">
							<div class="row">
								<br><br>
								<small>Related reads</small>
								<br>
							</div>
							
							<br>

							<div class="row op9">
								<img style="width:95%;" src="{% static '/imgs/lan.png' %}" alt="Image No Deya">
								<br>
							</div>

							<br>

							<div class="row">
								<h5>
									<p>
										A1 101: Understanding<br>
										Customer Churn Management
									</p>
								</h5>
							</div>

							<div class="row">
								<img class="float-left" style="width:10%;border-radius:50%;" src="{% static '/imgs/mh.png' %}" alt="Image No Deya">
								<small class="lr-mg5">
									Tristan Ganry in Toward...<br>
									Sep 29, 2018 · 5 min read <b class="op8"> &#9733;</b>
								</small>
								<img style="width:5%;" src="{% static '/imgs/clapping.svg' %}" alt="Image No Deya">
							</div>
							<br>
						</div>						
					</div>
				</div>					
			</div>	
		</div>

		<div id="knee" class="row b-bg">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-4">
							<br>
							<h5>
								<b>
									Discover Medium
								</b>
							</h5>
							<h6>
								<p class="op8">
									Welcome to a place where words matter. On Medium, smart voices and original ideas take center stage - with no ads in sight.
									<a href="#"><u>Watch</u></a>
								</p>
							</h6>
						</div>
						<div class="col-sm-4">
							<br>
							<h5>
								<b>
									Make Medium yours
								</b>
							</h5>
							<h6>
								<p class="op8">
									Follow all the topics you care about, and we’ll deliver the best stories for you to your homepage and inbox. <a href="#"><u>Explore</u></a> 
								</p>
							</h6>
						</div>
						<div class="col-sm-4">
							<br>
							<h5>
								<b>
									Become a member
								</b>
							</h5>
							<h6>
								<p class="op8">
									Get unlimited access to the best stories on Medium — and support writers while you’re at it. Just $5/month.
									<a href="#"><u>Upgrade</u></a>
								</p>
							</h6>
						</div>
						
						<hr style="border:0.5px solid;width:100%;margin:5% 0% 5% 0%;" class="wt">
					</div>
				</div>					
			</div>
			<br>
		</div>
		
		<div id="foot" class="row b-bg">			
			<div class="container">
				<div class="col-lg-12">
					<div class="col-sm-3 lt-ft">
						<h4>
							<b>
								<a href="#">Medium</a>
							</b>
						</h4>
					</div>
					<div class="col-sm-3 rt-ft op8">
						<a href="#"><small>About</small></a>
						<a href="#"><small class="lr-mg10">Help</small></a>
						<a href="#"><small>Legal</small></a>
					</div>
				</div>
			</div>				
		</div>

		




		<!-- ***********start col  div *************************-->
	</div>	
</body>
</html>